.intro__text {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 0 33px 0;
  max-width: 690px;

  width: 100%;
}

@media screen and (max-width: 1020px) {
  .intro__text {
    max-width: 720px;

  }
}

/* @media screen and (max-width: 760px) {
  .intro__text {
    max-width: 288px;
    margin-bottom: 34px;
  }
} */

@media screen and (max-width: 400px) {
  .intro__text {
    max-width: 288px;
    margin-bottom: 34px;
  }
}
