.cover__title {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 760px) {
  .cover__title {
    font-size: 42px;
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin-bottom: 16px;
  }
}
