.footer {
  max-width: 1184px;
  margin: 92px auto 24px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px 0 48px;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .footer {
    margin-top: 88px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin-top: 64px;
    padding-left: 16px;
    align-items: flex-start;
  }
}
